<section class="row">

    <h1>Welcome, How Can We Help You?</h1>
    <div class="card">
    	<div class="cont">
		    <h2><i class="fa fa-stethoscope"></i>Book a Consultation</h2>
		    <p>Seeing a doctor is easy, You can book an consultation in second and speak to a leading GP in minutes. Most of the time patiente' problems are resolved there and then, with prescriptions arranged where necessary.</p>
		    <p>Our UK and Ireland based GPs are available wherever you are at a time that suits you.</p>
		    <h4>Unlimited conultations for just &pound;4.99 or &euro;7.99 per month.</h4>
	    </div>
	    <img src="images/bg.PNG" class="full">
    	<div class="cont">
		    <a href="#/booking" class="btn">See a doctor now</a>
	    </div>
	    <div class="clr"></div>
    </div>

</section>
